body {
    background-color: lightblue ; 
    color: black;
}

.bold {
    font-weight:bold ;
}


.loanGridView{
    width:auto; 
    margin : 5px 0 10px 0; 
    border :solid 1px black; 
    border-collapse:collapse; 
    text-align :center ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}


.loanGridView td
{
        padding: 10px;
        border: solid 2px black;
        color: blue;

}

.loanGridView th {
        padding: 10px;
        color: white;
        background: green url(./style.grd_head.png) repeat-x top;
        border-left: solid 2px black;
        font-size: 0.9em;
    }

.loanGridView .alt {
        background-color : black ;
    }

