body {
    background-color: #DDFFF3 ; 
    color: black;
}

.bold {
    font-weight:bold ;
}

#loanGridView{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.cssgirdview{
    width:auto; 
    margin : 5px 0 10px 0; 
    border-collapse:collapse; 
    text-align :center ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}


.cssgirdview td 
{
padding:10px; 
color:#003053; 
background-color:lightyellow; 
border: solid 3px #CCE881;
text-align :center ; 
}

.cssgirdview th 
{
padding:10px; 
color:black ; 
background-color:#CCE881 ;
text-align :center ; 
border: solid 3px #CCE881;
}

.cssgirdview  .alt
{
background-color:blue ;
}